

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/bernabei.db:/app/bernabei.db
    environment:
      - SCRAPER_DELAY_MIN=1
      - SCRAPER_DELAY_MAX=5
      - SCRAPER_PROXY=http://elbdzkgg:8smav65siz70@64.137.96.74:6641 # Format: http://user:pass@host:port
    restart: always
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
